<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       "
       default-autowire="byName">

	<!-- properties -->
	<!-- <bean class="com.wfj.exception.dal.service.impl.MesSysProcessServiceImpl" id="mesSysProcessService">
	</bean> -->
	
	<!-- <bean class="com.wfj.exception.util.SystemBootstrap" />
	<bean class="com.wfj.exception.main.Test1" id="test1"></bean>
	<bean class="com.wfj.exception.hadoop.hadoop.job.MesCountJob" id="mesCountJob"></bean>
	<bean class="com.wfj.exception.hadoop.hadoop.job.MesAllCountJob" id="mesAllCountJob"></bean>
	<bean class="com.wfj.exception.mesGate.service.impl.MesServiceImplGate" id="mesServiceGate" /> -->
	
	

</beans>
